.venv/
__pycache__/
outputs/
singularity/images/
runs/
src/crossq/models/crossq/
runs/crossq
.DS_Store
models/crossq
src/crossq/videos
.DS_Store
test
.vscode
wandb
videos
old_runs
data
runs_backup
logs
data_backup
runs
models
